
body{
    background-color: rgb(68, 9, 123);
    opacity: 90%;
}

#nav{
    background-color: rgb(44, 3, 83) !important;
}

#presentacion {
    min-height: 88vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(assents/po.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 90%;
    
}
 
#presentacion h1{
    color: rgb(243, 234, 246) !important;
    
}

.proyecto{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1{
    background-image: url(assents/google.png);
   
    
}

#proyecto-2{
    background-image:url(assents/mvc.png);
}

.text-shadow-1 {
     text-shadow: 0 .125rem .25rem rgba(64, 22, 97, 0.685); 
    }

#link{
    color: rgb(152, 68, 230);
    
}
#btn{
    border-radius: 30px;
    border: none;
    background-color: rgba(200, 169, 229, 0.456);
}
#btn:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #8860d2;
    border: 1px solid #8860d2;
    color: #1f2021;
}

i{
    color: #c89ae7;
}

footer{
    background-color: rgb(44, 3, 83) !important;
    width: 1000px;
}

#foot{
    color: #ead7f7 !important;
    
}


#g{
    background-color: #c89ae7;
    opacity: 70%;
    border-style: none;
    
}

#c{
    background-color: #270340;
    opacity: 70%;
    border-style: none;
   
    
}

#c a{
    color: #ead7f7 !important;
}

a{
   text-decoration: none;
   color: #7337e2;
}

a:hover{
    text-decoration: underline;
    
}

